<style type="text/css">
    #zenstruck-version-block { font: 11px Verdana,Arial,sans-serif; position: fixed; z-index: 7000000; padding: .4em; color: #666; }
    .vb-bottom-right { bottom: 0; right: 0 }
    .vb-bottom-left { bottom: 0; left: 0 }
    .vb-top-left { top: 0; left: 0 }
    .vb-top-right { top: 0; right: 0 }
</style>
<div id="zenstruck-version-block" class="{{ position }}">
    {{ prefix }}{{ versionManager.version }}
</div>